body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 600px;
}

h2 {
    text-align: center;
    color: #f1a41c;
}

.array-display,
.array-display__fun9 {
    background: #eee;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;

}

.form-group {
    margin-bottom: 20px;
}

.form-input {
    display: flex;
    gap: 20px;
}

.form-group input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group button {
    width: 20%;
}

/* chuc nang 6  */
.form-group-func6 {
    display: flex;
    justify-content: space-between;
}

.form-group-func6 input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* chuc nang 9  */
.array-display__fun9 {
    margin-top: 12px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background: #e7f3ff;
    border-left: 4px solid #2196F3;
}